{% extends 'base.html' %} 

{% block title %}-Home{% endblock title %}
{% block content %}
    <div id='user_authentication'>
      {% if user.is_authenticated %}
        <h1>Welcome {{ user.username | capfirst }}!</h1>
        <p><a href="{% url 'users_wordshare:profile' user.username %}">Profile</a><p>
        {% comment %} <a href="{% url 'home' %}">Home</a> {% endcomment %}
        <p><a href="{% url 'logout' %}">Logout</a><p>
      {% else %}
        <h1>Welcome, visitor!</h1>
        <p>You are not logged in. <a href="{% url 'login' %}">Login</a> <a href="{% url 'users_wordshare:signup' %}">Sign Up</a></p>
      {% endif %}   
    </div>

    <div id='app'>
      <div id="search_bar">
        <p>Search Definition for:<input v-model="inputWord">
        <button @click="getWordDefinition">Search</button>
      </div>

      <div id="search_results">
        <dl v-for="data in responseData">
          <b><dt>Definition:</dt></b>
          <dd>[[ data.shortdef ]]</dd><br>
          <b><dt>Pronounciation:</dt></b>
          <dd>[[ data.hwi.hw ]]</dd><br>
          <b><dt>Date of Origin:</dt></b>
          <dd>[[ data.date ]]</dd><br>
          <b><dt>Etymology:</dt></b>
          <dd>[[ data.et ]]</dd><br>
        </dl>
      </div>
      <div id='save_definition'>
        <button @click='saveWordDefinition'>+ add to personal list</button>
      </div>
    </div>
{% endblock content %}